.primaryNavigation {
    position: fixed;
    top: 3em;
    right: 0;

    background-color: var(--primary-color);
    height: calc(100vh - 3em);
    width: 80%;
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.69,.1,0,1.84);
}

.primaryNavigation--show {
    display: block;
    transform: translateX(0);

}

.primaryNavigation__form{
    padding: 1rem;
    position: relative;
}

.primaryNavigation__searchIcon{
    position: absolute;
    top: 1.125rem;
    left: 1.125em;;
}

.primaryNavigation__search {
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    width: 100%;
}


.primaryNavigation__menu {
    padding: 1em;
    list-style: none;

}

.primaryNavigation__link {
    text-decoration: none;
}

.burgerMenuButton {
    border: none;
    background-color: transparent;
}


@media screen and (min-width: 768px) {
   
    .burgerMenuButton {
        display: none;
    }

    .primaryNavigation{
        position: static;
        transform: none;
        transition: none;
        height:auto;
        width: auto;
        display: flex;
        gap: 3rem;
    }

    .primaryNavigation__form{
        padding: 0;
        display: flex;
        
    }
    
    
    .primaryNavigation__search{
        padding: 0.125rem 0.25rem 0.125rem 2rem;
        margin-bottom: 0.30rem;
        
    }
    
    .primaryNavigation__searchIcon{
        top: 0.05rem;
        left: 0.125rem;
        
    }
    
    .primaryNavigation__menu{
        display: flex;
        padding: 0;
        gap: 2rem;
    }
    
}